.bloc_1{
    margin-top: 2%;
}

th{
    background-color: green;
}

td{
    background-color: burlywood;
}
form{
    border: 3px burlywood solid;
    padding: 13px;
    border-radius: 10px 10px 10px 10px;
}

.h4{
    background-color: burlywood;
    padding: 13px;
}

.form{
    margin-top: 5%;
}
.submit{
    border-radius: 10px 10px 10px 10px;
}