<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="row">
        <div class="col-md-6 offset-2">
            
            <form action="/show" method="post" autocomplete="off" class="form">
                <h4 class="h4">Modification des informations de l'employé n°{{empl.id}} </h4>
                {% csrf_token %}
                <div class="form-group">
                    Nom employé
                    <input type="text" name="nom" value="{{empl.nom}}" class="form-control">
                </div>
                <div class="form-group">
                    Prénom employé
                    <input type="text" name="prenom" value="{{empl.prenom}}" class="form-control">
                </div>
                <div class="form-group">
                    Age employé
                    <input type="text" name="age" value="{{empl.age}}" class="form-control">
                </div>
                <div class="form-inline">
                    <a href="/" class=" col-md-4 offset-1 form-control btn btn-dark submit">Acceuil</a>
                    <input type="submit" name="" class=" col-md-4 form-control btn btn-success submit">
                </div>
                <!--<div class="form-group">
                    Date de fin
                    <input type="tex" name="dfs" class="form-control">
                </div> -->
            </form>
        </div>
        <!--/col-->
    </div>
    <!--/row-->
</body>
</html>