<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud width Django</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    
</head>
<body>
    <div class="row bloc_1">
        <div class="div-col-md-4 offset-1">

        </div>
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                Nom employé
                <input type="text" name="nom" placeholder=" Jean Paul Codedam" class="form-control">
            </div>
            <div class="form-group">
                Prénom employé
                <input type="text" name="prenom" id=" " class="form-control">
            </div>
            <div class="form-group">
                Age employé
                <input type="text" name="age" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" name="" class="form-control btn btn-success submit">
            </div>
            <!--<div class="form-group">
                Date de fin
                <input type="tex" name="dfs" class="form-control">
            </div> -->
        </form>
        <div class="col-md-8">
            <table class="table table-bordered">
                <tr>
                    <th>Nom employé</th>
                    <th>Prénom employé</th>
                    <th>Age</th>
                    <th>Actions</th>
                </tr>
                {% for x in empl %}
                    <tr>
                        <td>{{x.nom}}</td>
                        <td>{{x.prenom}}</td>
                        <td>{{x.age}} Ans</td>
                        <td>
                            <a href="/?id={{x.id}}" class="btn btn-info">Consulter</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>